<div>
  <form class="example-container" (ngSubmit)="OnSubmit(Email.value,Password.value)">
    <h1 style="text-align: center"> Login</h1>
    <mat-form-field>
      <mat-icon matPrefix>account_circle</mat-icon>
      <input matInput type="text" #Email placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <mat-icon matPrefix>vpn_key</mat-icon>
      <input matInput type="password" #Password placeholder="Password" required>
    </mat-form-field>
    <button mat-raised-button style="background-color: lightgrey" type="submit">Entrar</button>
  </form>
</div>
