<div  *ngIf="car">
  <h2>{{ car.name }} Detalles</h2>
  <div><span>Marca: </span>{{car.Marca}}</div>
  <div><span>Categoria: </span>{{car.category}}</div>
  <div><span>Descripción: </span>{{car.description}}</div>
  <div><span>CV: </span>{{car.CV}}</div>
  <div>   <img *ngIf="imagePath" [src]="imagePath" height="100px" width="100px" /></div>
  <div>
    <label>CV:
      <input [(ngModel)]="car.CV" placeholder="CV"/>
    </label>
  </div>
  <button (click)="save()">save</button><button (click)="goBack()">go back</button>
</div>
