<div>
  <form class="example-container"  (ngSubmit)="OnSubmit(Email.value,Password.value,Username.value)">
    <h1 class="shadow" style="text-align: center"> Registro</h1>
    <mat-form-field>
      <span matPrefix><mat-icon >account_circle</mat-icon></span>
      <input matInput name="username" placeholder="Nombre Usuario" #Username [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <span matPrefix><mat-icon>mail outline</mat-icon></span>
      <input matInput name="email" placeholder="Email" #Email [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <span  matPrefix><mat-icon>vpn_key</mat-icon></span>
      <input matInput type="password" name="password" #Password [formControl]="password" placeholder="Password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button [disabled]="email.invalid || password.invalid || username.invalid" mat-raised-button style="background-color: lightgrey; height: 40px;" type="submit">Registrar</button>
  </form>
</div>
