<div>
  <form class="example-container"
        (ngSubmit)="add(Name.value,Marca.value,categoryControl.value,description.value,CV.value)">
    <h1 style="text-align: center"> Agregar Coche</h1>
    <mat-form-field>
      <input matInput name="name" placeholder="Modelo Coche" #Name [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="marca" placeholder="Marca Coche" #Marca [formControl]="marca" required>
      <mat-error *ngIf="marca.invalid">{{getMarcaErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Tipo de coche" [formControl]="categoryControl" required>
        <mat-option>--</mat-option>
        <mat-option value="Diesel">Diesel</mat-option>
        <mat-option value="Gasolina">Gasolina</mat-option>
      </mat-select>
      <mat-error *ngIf="categoryControl.hasError('required')">Escoge un tipo</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1900" max="2020" name="year" placeholder="Año del coche" #Description
             [formControl]="description" required>
      <mat-error *ngIf="description.invalid">{{getDescriptionErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="0" name="cv" placeholder="Caballos Coche" #CV [formControl]="cv" required>
      <mat-error *ngIf="cv.invalid">{{getCVErrorMessage()}}</mat-error>
    </mat-form-field>
      <ng2-file-input [extensions]="['jpg','png']" [browse-text]="'Buscar'" [drop-text]="'Arrastre una imagen JPG o PNG'" [invalid-file-text]="'Formato invalido'"
                      (onAdded)="onFileChange($event)" (onRemoved)="resetAvatar()"
      ></ng2-file-input>

      <button [disabled]="name.invalid || marca.invalid || categoryControl.invalid || description.invalid || cv.invalid" mat-raised-button
            style="background-color: lightgrey; height: 40px;" type="submit">Añadir
    </button>
  </form>
</div>


