<h2 mat-dialog-title>Cambio de contraseña</h2>
<mat-dialog-content>
  <mat-form-field>
    <span  matPrefix><mat-icon>vpn_key</mat-icon></span>
    <input matInput type="password" name="password" #Password [formControl]="password" placeholder="Password" required>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <span  matPrefix><mat-icon>vpn_key</mat-icon></span>
    <input matInput type="password" name="password2" #Password2 [formControl]="password2" placeholder=" Repita Password" required>
  </mat-form-field>
  <p role="alert" style="color: red" *ngIf="password.value !== password2.value">Las contraseñas no coinciden</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="password.invalid || password.value !== password2.value" mat-button style="background-color: greenyellow;" [mat-dialog-close]="password.value">Guardar</button>
  <button mat-button style="background-color: red" mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>
