.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-sort-header-container{
  color:white !important;
}
.mat-header-row {
  background-color: black;
}
.mat-row:hover{
  background-color: lightgrey;
}
