<mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="marca">
      <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.Marca}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.category}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CV">
      <mat-header-cell *matHeaderCellDef> CV </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.CV}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="5" [pageSize]="5">
  </mat-paginator>



  <!--<label>Car name:-->
    <!--<input #CarName/>-->
  <!--</label>-->
  <!--<label>Car Marca:-->
    <!--<input #CarMarca/>-->
  <!--</label>-->
  <!--<label>Car Category:-->
    <!--<input #CarCategory/>-->
  <!--</label>-->
  <!--<label>Car Description:-->
    <!--<input #CarDescription/>-->
  <!--</label>-->
  <!--<label>Car CV:-->
    <!--<input #CarCV/>-->
  <!--</label>-->
  <!--&lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;-->
  <!--<button (click)="add(CarName.value,CarMarca.value,CarCategory.value,CarDescription.value,CarCV.value);-->
                    <!--CarName.value='';-->
                    <!--CarMarca.value='';-->
                    <!--CarCategory.value='';-->
                    <!--CarDescription.value='';-->
                    <!--CarCV.value=''-->
  <!--">-->
    <!--add-->
  <!--</button>-->
<!--</div>-->
