@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
@import '~ng2-file-input/ng2-file-input.css';
/* You can add global styles to this file, and also import other style files */

/*for error div i*/
div.error-message i{
  vertical-align: middle !important;
}

html {
  height: 100%;
  width: 100%;
  background-image: url("motorstorm-BackGround2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{

  /* Full height */
  height: 95%;
  width: 100%;
  margin: 0px;
  margin-top: 8px;
  /* Center and scale the image nicely */

}
#title{
  margin: auto;
  width: 50%;
}
