.mat-tab-nav-bar {
  display: table;
  width: 100%;
  height: 100%;
  background-color: white;
}
div.mat-tab-links{
  width: 100% !important;
  background-color: yellow;
}
mat-tab-link{
  width: 100%;
}
mat-card{
  max-height: 700px;
  overflow-y: auto;
}
.mat-toolbar{
  display: table;
  width: 100%;
  height: 100%;
  background-color: black;
  color:white;
}
.mat-toolbar-row>a{
  width: 100% ;
}
.window{
  margin: 8px auto;
  width: 80%;
}
@media only screen and (max-height: 700px) {
  .window{
    max-width: 1300px;
    max-height: 600px;
    margin: 8px auto;
    overflow-y: auto;
  }
}
@media only screen and (max-height: 360px) {
  .window{
    max-width: 1300px;
    max-height: 340px;
    margin: 8px auto;
    overflow-y: auto;
  }
}
